* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.radio {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    padding: 50px;
}

.radio__input {
    display: none;
}

.radio__circle--1 {
    width: 10vh;
    height: 10vh;
    background-color: yellow;
    border-radius: 10%;
    cursor: pointer;
}
.radio__circle--2 {
    width: 10vh;
    height: 10vh;
    background-color: green;
    border-radius: 10%;
    cursor: pointer;
}
.radio__circle--3 {
    width: 10vh;
    height: 10vh;
    background-color: red;
    border-radius: 10%;
    cursor: pointer;
}
.radio__circle--4 {
    width: 10vh;
    height: 10vh;
    background-color: gray;
    border-radius: 10%;
    cursor: pointer;
}

.radio__circle--1::after {
    content: " ";
    width: 95%;
    height: 95%;
    display: block;
    border: solid rgb(138, 138, 255) 3px;
    border-radius: 10%;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.radio__input:checked + .radio__circle--1::after {
    opacity: 1;
}

.radio__circle--2::after {
    content: " ";
    width: 95%;
    height: 95%;
    display: block;
    border: solid rgb(138, 138, 255) 3px;
    border-radius: 10%;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.radio__input:checked + .radio__circle--2::after {
    opacity: 1;
}

.radio__circle--3::after {
    content: " ";
    width: 95%;
    height: 95%;
    display: block;
    border: solid rgb(138, 138, 255) 3px;
    border-radius: 10%;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.radio__input:checked + .radio__circle--3::after {
    opacity: 1;
}

.radio__circle--4::after {
    content: " ";
    width: 95%;
    height: 95%;
    display: block;
    border: solid rgb(138, 138, 255) 3px;
    border-radius: 10%;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.radio__input:checked + .radio__circle--4::after {
    opacity: 1;
}