@import url('https://fonts.googleapis.com/css2?family=Square+Peg&display=swap');
* {
   font-family: 'Square Peg', cursive;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   background-color: #333;
   color: #fff;
   line-height: 1.6;
}

.slider {
   position: relative;
   overflow: hidden;
   height: 100vh;
   width: 100vw;
}

.slide {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   transition: opacity .4s ease-in-out;
}

.slide.current {
   opacity: 1;
}

.slide .content {
   position: absolute;
   bottom: 70px;
   left: -600px;
   width: 600px;
   opacity: 0;
   background-color: rgba(255, 255, 255, 0.8);
   color: #333;
   padding: 35px;
}

.slide .content h1 {
   margin-bottom: 10px;
}

.slide.current .content {
   opacity: 1;
   transform: translateX(600px);
   transition: all .7s ease-in-out .3s;
}

.buttons #next {
   position: absolute;
   top: 50%;
   right: 15px;
}

.buttons #prev {
   position: absolute;
   top: 50%;
   left: 15px;
}

.buttons button {
   border: 2px solid #fff;
   background-color: transparent;
   color: #fff;
   cursor: pointer;
   padding: 13px 15px;
   border-radius: 50%;
   outline: none;
   transition: all .3s ease-in-out;
}

.buttons button:hover {
   background-color: white;
   color: #333;
}

@media(max-width: 500px) {
   .slide .content {
      bottom: -300px;
      left: 0;
      width: 100%;  
   }
   .slide.current .content {
      transform: translateY(-300px);
   }
}

.slide:first-child {
   background: url('../img/1.jpg') no-repeat center center/cover;
}
.slide:nth-child(2) {
   background: url('../img/2.png') no-repeat center center/cover;
}
.slide:nth-child(3) {
   background: url('../img/3.jpeg') no-repeat center center/cover;
}
.slide:nth-child(4) {
   background: url('../img/4.jpg') no-repeat center center/cover;
}
.slide:nth-child(5) {
   background: url('../img/5.jpg') no-repeat center center/cover;
}
